@charset "utf-8";
/* CSS Document */

.dashboardWrapper{
	/*border:1px solid pink;*/
	width:auto;
	margin:6% 0;
	height:460px;
	padding:0 5px;
}

.iconWrapper{
	width:240px;
	height:230px;
	/*border:1px solid green;*/
	float:left;
}

.iconWrapper a{
	text-decoration:none;
}


.iconWrapper img{
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	text-decoration:none;
	border:0px;
}

.iconWrapper p{
	margin-top:15px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#15777a;
	text-decoration:none;
}
