@charset "utf-8";
/* CSS Document */

.contentSection{
	background-color:#FFF;
	border:1px solid #15777a;
	min-height:557px;
	overflow:auto;
}

#returnMsg{
	height:auto;
	width:auto;
	color:#ce0010;
	text-align:left;
	padding:5px 0px 5px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

#returnMsg span{
	color:#15777a;
}

.chpass{
	margin-left:150px;
	text-align:left;
}

.chpass div{
	margin:10px 0;
	position:relative;
}

.chpass div label{
	font-size:22px;
}

.chpass div input{
	position:absolute;
	left:180px;
	width:200px;
	border:1px solid black;
	height:22px;
}

.chpass div #back{
	margin-left:180px;
	height:24px;
	position:relative;
	top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color: #15777a;
	border:1px outset #15777a;
	color:#8a0c03;
	padding:2px 12px;
	padding-top:5px;
	text-decoration:none;
}

.chpass div #change{
	left:283px;
	width:100px;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color: #15777a;
	border:1px outset #15777a;
	color:#8a0c03;
	padding:0 6px;
}


.pass{
	text-align:left;
	width:auto;
	padding-left:150px;
	position:relative;
}

.pass p{
	text-align:center;
	width:auto;
	padding-right:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#15777a;
}

.pass div{
	margin:15px 0;
}

.pass label{
	font-size:22px;
}

.pass input{
	position:absolute;
	left:340px;
	width:200px;
}

.pass .buttonPanel a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	padding:5px 10px 3px 10px;
	background-color:#15777a;
	border:1px outset #15777a;
	color:#8a0c03;
	margin-left:190px;
	position:relative;
	top:5px;
}

.pass .buttonPanel a:hover{
	background-color:#8a0c03;
	border:1px inset #8a0c03;
	color:#15777a;
}

.pass .buttonPanel input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	width:100px;
	height:30px;
	background-color:#15777a;
	border:1px outset #15777a;
	color:#8a0c03;
	margin-left:105px;
}

.pass .buttonPanel input:hover{
	background-color:#8a0c03;
	border:1px inset #8a0c03;
	color:#15777a;
}