@charset "utf-8";
/* CSS Document */

table{
	border-collapse:collapse;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	
}

table th, tr, td{
	border:1px solid black;
}

table th{
	border-bottom:2px solid black;
	font-family:"Agency FB", serif;
	font-size:22px;
}

table tr:hover td{
	background-color:#EBEBEB;
}

table td{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	padding:5px;
}




